.link-panel{
	float:right;
	background-color: #eee;
	border: 1px solid #ddd;
	border-radius:3px;
	padding:0 5px 10px 5px;
}
.answer {
	margin-left: 30px;
}

.list-group-item  {
	 color:#333;
}
.list-group-item.active {
	 font-weight:bold;
}
.nav-panel{
	 margin-top:30px;
}
.container{
	 margin-top:20px;
}