@{
	ViewBag.Title = "Four";
}

<h2>Four</h2>

<h1>Bindings</h1>

@section scripts {
	<script src="@Url.Content("/Scripts/lessons/four.js")" type="text/javascript"></script>
}

<h2 data-bind="text: textBinding"></h2>
<hr/>
<h4>Value Binding</h4>
<input type="text" data-bind="value: valueBinding, valueUpdate: 'keyup'" />
<label data-bind="text: valueBinding"></label>
<hr />

<h4>Visible / If bindings</h4>

Visible: <input type="checkbox" data-bind="checked: visibleToggle" />
<div data-bind="visible: visibleToggle">
	Hi!
</div>

If: <input type="checkbox" data-bind="checked: ifToggle" />
<div data-bind="visible: ifToggle">
	Hi!
</div>
<hr />

<h4>Html binding</h4>

<div data-bind="html: htmlBinding"></div>


<hr/>
<h4>Css Binding</h4>

<input type="text" data-bind="value: cssBinding, valueUpdate: 'keyup'" />
<div data-bind="css: cssBinding">
	Hi!!

</div>

<hr />
<h4>Template Binding</h4>
<input type="text" data-bind="value: templateBinding, valueUpdate: 'keyup'" />

<div data-bind="template: { name : templateBinding }"></div>

<script type="text/html" id="sample1">
	Whoah, this is sample 1
</script>
<script type="text/html" id="sample2">
	Whoah, this is not sample 1. It must be sample 2
</script>

<hr />
<h4>Click Binding</h4>
<button data-bind="click: clickBinding">Click me.</button>

<hr />
<h4>Event Binding</h4>
<button data-bind="event : { mouseover : clickBinding }">Click me.</button>


<hr />
<h4>Attribute Binding</h4>
<button data-bind="click: attrBindingClick, attr : { 'data-youclickedme' : attrBindingValue }">Click me!</button>

<hr />
<h4>With Binding</h4>
<div data-bind="with: otherContextBinding">
	<h2 data-bind="text: name"></h2>
</div>