@{
    ViewBag.Title = "Home Page";
}
@Html.Partial("_Navigation", "Index")

<h3>Knockout Links: </h3>
<ul>
    <li><a href="http://knockoutjs.com/">Knockout Website</a></li>
    <li><a href="http://blog.stevensanderson.com/">Steve Sanderson's Blog</a></li>
    <li><a href="http://www.knockmeout.net/">Ryan Niemeyer</a></li>
</ul>

<h3>General JavaScript: </h3>
<ul>
    <li><a href="http://addyosmani.com/resources/essentialjsdesignpatterns/book/">Essential JS Design Patterns</a></li>
    <li><a href="http://www.adequatelygood.com/JavaScript-Module-Pattern-In-Depth.html">Modular Pattern</a></li>
</ul>