@{
	ViewBag.Title = "BindingHandlers";
}

<h2>Binding Handlers</h2>

<h3>What is a binding handler?</h3>
<p>
	A binding handler is what Knockout uses to display HTML.
</p>
<p>
	The default ones that come with KO are: <a href="http://knockoutjs.com/documentation/introduction.html">Located here</a>(Too many to type out)
</p>

<hr />
<h3>Custom Binding Handler basics</h3>
<script src="https://gist.github.com/DegreeDev/4372564d6d24f86cbd11.js"></script>

<h3>Applying Extra Bindings</h3>
<script src="https://gist.github.com/DegreeDev/0f57e64e220ad928bd52.js"></script>

<h3>Adding HTML</h3>
<script src="https://gist.github.com/DegreeDev/aea456ffb4427e7f4a58.js"></script>
