
@{
    ViewBag.Title = "ComputedWrappers";
}

<h2>Computed Wrappers</h2>

<p>
	A computed wrapper is basically something that wraps an observable with a writable computed. The advantage is you can validate the input before and format the output on read. 
</p>

<script src="https://gist.github.com/DegreeDev/e66a19dce805d15d207a.js"></script>
