@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Welcome!</h1>
	<p class="lead">
		My name is Matthew Lee. I work on Accelerator, formally known as SPP, formally known as Accelerator.
		I write JavaScript AND C# and some CSS.
	</p>
	<p><a href="http://knockoutjs.com" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
	<p>
		What is Knockout?
		<ul>
			<li>Knockout is a library, not a framework.</li>
		</ul>
		<h4>
			Agenda
		</h4>
		<ul>
			<li>What server side models look like</li>
			<li>What client side models look like</li>
			<li>The mapping plugin</li>
			<li>How serialization / model binding works and what it looks like</li>
			<li>File structure and ordering</li>
			<li>
				Overtime (optional and all over the place)
				<ul>
					<li>Binding Handlers</li>
					<li>Extensions</li>
					<li>Computed Wrappers</li>
				</ul>
			</li>
		</ul>
	</p>
</div>