@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">My name is Matt Lee. I work on Accelerator. I write JavaScript AND C# websites.</p>
    <p><a href="http://knockoutjs.com" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>